<form form onsubmit="return submitform(event)" (ngSubmit)="receberDados()">
    <div class="login"> 
        <div class="login-visual">
            <picture>
                <h1>Se não possui conta, 
                    <br>
                    você pode se CADASTRAR 
                    <br>
                    clicando <a href="cadastro.html" routerLink="cadastro" id="text-lnk">AQUI</a></h1>
                <a href="index.html" routerLink="home" ><img src="/assets/img/ekko-img.svg" alt=""></a>
            </picture>
        </div>
    
        <div class="login-info">
            <picture>
                <img src="/assets/img/game-mania-team.svg" alt="" id="gamemania-team-img">
            </picture>
            <div class="login-info login-info-box">
                Email<input type="email" name="email" placeholder="Digite seu email" required [(ngModel)]="userModel.email">

                Senha<input type="password" name="password" placeholder="Digite sua senha" required [(ngModel)]="userModel.password">
                <input type="submit" value="LOGIN" id="login-btn" routerLink="home">

                <p id="forgot-password"><a href="#">Esqueci a senha</a></p>
            </div>
        </div>
    </div>
</form>
<p id="mensagem" *ngIf="mensagem != '' "> {{ mensagem }} </p>